.container{
	width: 700px;
	margin: 0 auto;
}
ul {
    list-style-type: none;
    margin-left: 110px;
 	
}
li {
 	display: inline;
 	border-right:1px solid black;
 	padding-right: 5px;
 	text-align: left;
 	font-size: 16px;
 	font-family: Lucida Console;
}
img {
	width:700px;
}
.linea2{
	width: 100px;
	border:2px solid gray;
	margin-top: 25px;
}
#izq{
	margin-left: 1px;
}
p {
	text-align: center;
	font-size: 17px;
	margin-left:75px;
	margin-right: 75px;
	font-family: Lucida Console;
}
/*Estilo de archivo Nuestras Coders*/
h1 {
	color: #666666;
	font-family: Lucida Console;
	text-shadow: 2px 2px #0;
}
/*Solo los Div dentro de Div*/
.nscodr div div {
	height:200px ;
	width:200px ;
	border:1px solid black;
	border-radius: 20px;
	display: inline-block;
	margin:5px ;
	padding: 0px;
	/*Filtros de imagen */
	-webkit-filter: saturate(0.3);
}
.img1 {
	background-image: url("../img/profile-1.png");
	background-size: 100%;
}
.img2{
	background-image: url("../img/profile-2.png");
	background-size: 100%;
}
.img3{
	background-image: url("../img/profile-3.png");
	background-size: 100%;
}
.img4{
	background-image: url("../img/profile-4.png");
	background-size: 100%;
}
.img5{
	background-image: url("../img/profile-5.png");
	background-size: 100%;
}
.img6{
	background-image: url("../img/profile-6.png");
	background-size: 100%;
}
.pimg{
	/*Usar padding para alinear el texto*/
	padding-top: 135px;
	padding-left: 50px;
	color: white;
	font-family:Lucida Console;
	font-size: 14px;
	font-weight: bold;
	/*Estilo de texto para resaltar*/
	text-shadow: 2px 2px #000000;
}
/*Estilo Detalles Coders*/
.coder1{
	width: 200px;
	height: 200px;
	border-radius: 300px;
	position: relative;
	left: 250px;
}
h2{
	font-size: 55px;
	text-align: center;
	margin-top:2px;
	font-family: Lucida Console;
}
.bio1{
	text-align: center;
}
h3{
	font-size: 45px;
	font-family: Lucida Console;
}
.hgray{
	background-color: gray;
	height: 40px;
	margin-top: 30px;
	padding-top:10px;
	padding-left: 15px;
	padding-bottom: 0px;
	color: white;
}
.hg1{
	width: 60%;
}
.hg2{
	width:40% 
}
.hg3{
	width:20%;
}
.imgport div div{
	display: inline-block;
	width:220px ;
	height: 180px;
	background-size: 100%;
	margin: 5px;
}
.porta1{
	background-image: url("C:/Users/Johana/Desktop/JohanaVargas/MiPrimerLayout/img/p5.jpg");
}
.porta2{
	background-image: url("C:/Users/Johana/Desktop/JohanaVargas/MiPrimerLayout/img/p6.jpg");
}
.porta3{
	background-image: url("C:/Users/Johana/Desktop/JohanaVargas/MiPrimerLayout/img/p8.jpg");
}